## Pandas 시작하기

In [ ]:
import pandas as pd

### Series, 판다스 시리즈

A `pandas.Series` 는 일차원 배열과 유사한 객체이다.

In [ ]:
data = pd.Series([4, -1, 3, 2])

data

In [ ]:
data[0]

In [ ]:
data.values

In [ ]:
data.index

In [ ]:
data = pd.Series([4, -1, 3, 2], index=['a', 'b', 'c', 'd'])

data

In [ ]:
data[0]

In [ ]:
data['a']

In [ ]:
data[['a', 'b']]

In [ ]:
data[data > 0]

In [ ]:
data * 2

In [ ]:
import numpy as np

np.exp(data)

In [ ]:
city_data = {'London': 8.6, 'Paris': 2.2, 'Berlin': 3.6}

data = pd.Series(city_data, index=['Berlin', 'London', 'Madrid', 'Paris', 'Rome'])

data

### Data Frames

A `pandas.DataFrame` 는 테이블(표)과 유사한 구조이다.

In [ ]:
purchases = [{'Customer': 'Bob', 'Item': 'Oranges', 'Quantity': 2, 'Unit price': 2},
             {'Customer': 'Bob', 'Item': 'Apples', 'Quantity': 3, 'Unit price': 1},
             {'Customer': 'Bob', 'Item': 'Milk', 'Quantity': 1, 'Unit price': 4},
             {'Customer': 'Alice', 'Item': 'Oranges', 'Quantity': 2, 'Unit price': 2},
             {'Customer': 'Alice', 'Quantity': 2, 'Unit price': 3}]
df = pd.DataFrame(purchases)

df

#### 로우 / 컬럼 데이터 접근

In [ ]:
df.loc[0]

In [ ]:
df['Item']

In [ ]:
df.loc[0, 'Item']

In [ ]:
df.loc[0:2, ['Item', 'Quantity']]

#### 불리언 인덱싱

In [ ]:
is_alice = df['Customer'] == 'Alice'

is_alice

In [ ]:
df[is_alice]

#### data frame 변경 
 - 컬럼 추가 / 삭제
 - 로우 삭제

In [ ]:
df['Total cost'] = df['Unit price'] * df['Quantity']

df

In [ ]:
del df['Total cost']

df

In [ ]:
df.drop(4)

In [ ]:
df

In [ ]:
new_df = df.drop(3)
new_df

In [ ]:
df.drop(3, inplace=True)
df

In [ ]:
df.loc[4, 'Item'] = 'Bananas'

df